.task-title {
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
}
.add-color-btn {
    height: 16px;
    width: 16px;
    background-color: #AF93E9;
    float: right;
    outline: none;
}
.color-picker {
    padding: 0;
}
.t-title {
    border-radius: 6px 6px 0px 0px;
}
.t-row {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.p-15 {
    padding: 8px 15px;
}
.date-desc {
    line-height: 18px;
}
.text-right {
    text-align: right;
}
.text-desc {
    width: 70px;
}
.text-label {
    padding-top: 4px;
    color: #BDBDBD;
}
.input-date {
    .el-input__inner {
        width: 90px;
        padding: 0;
        height: 25px;
        font-size: 13px;
        border: none;
    }
    
}
.el-date-table td {
    padding: 0;
}
.t-date-time {
    font-size: 13px;
}
.text-date {
    .el-input__inner {
        padding: 0;
        font-size: 13px;
        height: 25px;
        border: none;
    }
    .el-input__suffix {
        display: none;
    }
}
.date-custom {
    .el-date-picker__header {
        margin: 0 12px;
    }
    .el-picker-panel__content {
        margin: 0 12px;
    }
}
.task-note {
    .task-title {
        font-size: 13px;
    }
}
.text-center {
    text-align: center;
}

.t-button {
    button {
        border-radius: 18px;
        font-size: 18px;
        line-height: 18px;
        
    }
}
.close-btn {
    width: 78px;
    height: 24px;
    border: 1px solid #6979F8;
    color: #6979F8;
    background-color: #ffffff;
}
.done-btn {
    width: 78px;
    height: 24px;
    background-color: #6979F8;
    color: #ffffff;
    border: none;
}