.day-info {
    font-size: 16px;
    line-height: 24px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 2px #908e8e;
}
.day-col {
    float: left;
    width: calc((100% - 30px) / 7);
}
.ml-5 {
    margin-left: 5px;
}

.todo-col {
    min-height: 400px;
}
.day-col-active {
    background-color: #fbfafe;
}
.day-head-active {
    background-color: #fbfafe;
    border-color: #6979F8;
}
.day-child {
    background-color: #fbfbfb;
}