@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.todo-container {
    padding: 8px;
}
.el-dialog__header{
    padding: 0;
}
.el-dialog__body {
    padding: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@import './variables';
@import 'titleBar';
@import 'header';
@import 'week';
@import 'day';
@import 'month';
@import 'task';

